
*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

.barra{
    padding: 10px;
    background-color: #7400ad;
}
.social-bar {
    color: yellow;
    font-size: large;
    margin: 50px0px;
    text-align: center;
    background:none;
}

.contenedor1 {


      width:  400px;
      padding: 40px;
      border: 2px solid #333;
      box-sizing: border-box;
      margin: 20px auto; 
}

h1{
    color: white;
    text-align: center;
    font-size: 50px;
}




.ImageneS{

    display: flex;
    justify-content: center;
    width:  400px;
    padding: 0%;
    border-radius: 100%;
    margin: 20px auto;
}
.contact1{
    margin-right: 25px;
    border-radius: 100%;
}
.contact{
    margin-left: 25px;
    border-radius: 100%;
}



.video{
    margin-top: 5%;
}

iframe {
    display: block;
    margin: 0 auto;
 

}

.text{
    width:  400px;
      padding: 40px;
      border: 2px solid #333;
      box-sizing: border-box;
      margin: 20px auto; 

}

h2{ 
    color:white;
    font-size: 30px;
    margin: auto;
    text-align: center;
}


.contenedor-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  
}


.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color:  white;
   
}

.contenido-footer {
    color: aliceblue;
    text-align: center;
    padding: 20px;
    background-color: #7400ad;
}

body {
    background: linear-gradient(to right,#7400ad , black)
}